NEXT_PUBLIC_SUPABASE_URL=https://ygtgfqitctowlhkqomjw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_AFRIPAY_APP_ID=81cff9c266efd6f01737014a2dd4ba3a
NEXT_PUBLIC_AFRIPAY_APP_SECRET=your_afripay_app_secret
