NEXT_PUBLIC_SUPABASE_URL=https://ygtgfqitctowlhkqomjw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlndGdmcWl0Y3Rvd2xoa3FvbWp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4NjY0NTEsImV4cCI6MjEwMjQ0MjQ1MX0.tT-4_mBIs-GhSsIJ2XdlEpbb9qzKzHWiYBXyy_EROZA
NEXT_PUBLIC_AFRIPAY_APP_ID=81cff9c266efd6f01737014a2dd4ba3a
NEXT_PUBLIC_AFRIPAY_APP_SECRET=your_afripay_app_secret
